@import 'scss/colors.scss';
@import 'scss/fonts.scss';

.container-fluid {
    padding: 0;
}

.drawer {
    background-color: $blue-700;
    color: white;
    padding-right: 0;
    padding-top: 2rem;

    &.collapse {
        display: block;
    }

    @media (max-width: 992px) {
        position: fixed;
        top: 88px;
        z-index: 100;
        
        &:not(.show) {
            display: none;
        }
    }
}
.leftNav {
    margin-top: 2rem;
    margin-left: 0;
    padding-left: 0;
}

.leftNav-item {
    transition: all 150ms;
    list-style: none;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    
    &:hover {
        cursor: pointer;
        background-color: $blue-800;
    }
    
    svg {
        width: 56px!important;
        height: 56px!important;
        margin-bottom: .5rem;
    }

    &.active {
        border-left: 8px solid $blue;
        background-color: $blue-800;

        svg, div {
            margin-left: -8px;
        }
    }
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
h5 {
    margin-bottom: 0;
    font-weight: 500;
}

p {
    opacity: .5;
}
.profileImage {
    background: white;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}