@import 'scss/colors.scss';
@import 'scss/fonts.scss';


.navbar-theme-pos {
    button > svg {
        width: 30px;
        height: 30px;
    }

    &.navbar {
        padding: 1.5rem 3rem;
        background-color: white;
        border-bottom: 1px solid $gray-300;

        & > div:not(.show) {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 992px){
                display: none;
            }
        }
    }


    .icon {
        margin-right: 1.25rem;
        color: $gray-500;
        &:hover {
            cursor: pointer;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }



    .navbar-nav {
        font-weight: bold;
        display: flex;

        @media screen and (max-width: 992px){
            flex-direction: column;
            margin-bottom: 1rem;

            .icon {
                padding: 1rem 0;
                & > svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    .nav-item a.nav-link {
        padding: .5rem 1rem;
    }
    .navbar-nav .active > .nav-link {
        color: $blue!important;
    }

    @media screen and (max-width: 992px){
        #topNav {
            margin-top: 1rem;
        }
    }
}